.form {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 750px;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem auto;
  /* background-color: var(--bg); */
  background: transparent;
  color: var(--font);
  padding: 0.5rem 1rem;
  box-shadow: 0px 1px 14px 1px #aaa;
  border-radius: 1.5rem;
  /* background-image: url('http://files.gandi.ws/b8/6d/b86de0ea-3be2-43e6-a5c3-b59fb51036a7.gif'); */
  background-image: url('https://thumbs.gfycat.com/MindlessHarshAfricanhornbill-max-1mb.gif');
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  background-blend-mode: darken;
  backdrop-filter: blur(2px);
}

.rowForm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

.rowForm input {
  width: auto;
}

.btn {
  width: fit-content;
  border-radius: 30px;
  background-color: var(--bg);
  color: var(--font);
  border: 2px inset;
  padding: 2px 16px;
  font-size: 1.05rem;
}
.btn:hover {
  font-weight: bold;
  color: red;
  border: 2px outset;
}

.state {
  width: 100%;
  overflow: auto;
}
